.cStyle{
    border: 2px solid cornflowerblue;
    border-radius: 5%;
    width: 300px ;
}
.nameStyle {
    background-color: aquamarine;
}

.lookStyle {
    color: green;
    font-weight: inherit;

}
.techNumStyle {
    font-weight: inherit;
}